<h1 class="ui center aligned medium icon header">Welcome to ChitChat app</h1>
<div class="ui center aligned medium icon header">
  <% unless current_user.present? %>
    <%= link_to "Sign in", new_user_session_path, :method => :get, class: "ui red button move-container" %>
    <%= link_to "Sign up", new_user_registration_path, :method => :get, class: "ui orange button move-container" %>
  <% end %>
</div>