<div class="ui card">
  <div class="content">
    <div class="header">Users</div>
  </div>
  <div class="content">
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
            <% @users.each do |user|  %>
              <% debugger %>
              <tr>
                <th><% user.name %></th>
                <th><%= user.email %></th>
              </tr>
            <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>