  <%= link_to "ChatRoom", chatroomSection_path, :method => :get  , class: "item"%>
  <a class="item">
      Messages
  </a>

  <div class="right menu">
      <div class="ui dropdown item">
          Account <i class="dropdown icon"></i>
          <div class="menu">
              <a class="item">Log in</a>
              <a class="item">Sign up</a>
          </div>
      </div>
    <% if current_user.present? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete , class: "ui red button" %>
      <% end %>

  </div>
